body {
    font-family: 'Source Sans Pro';
}

/* HOMEPAGE */

h3 {
    color: #c271ff;
    font-weight: 600;
    font-size: 14px;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}

.header {
    background-image: url(./images/pic_1.jpg);
    background-repeat: no-repeat;
    background-color: #071629;
    background-position: center;
    background-size: cover;
    width: 100%;
}

nav a {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
}

li {
    margin-right: 30px;
}

.link:hover {
    color: #c271ff;
}

.heading-homepage {
    font-size: 100px;
    font-weight: 700;
}

.heading-price {
    font-size: 60px;
    font-weight: 700;
}

.list-header {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.purple-button {
    background-color: #c271ff;
    border-radius: 50px;
    border-color: #c271ff;
    font-size: 14px;
    font-weight: 600;
}

.purple-button:hover {
    opacity: 0.9;
}

.purple {
    color: #c271ff;
    font-size: 30px;
    font-weight: 700;
}

.heading-two {
    font-size: 30px;
    font-weight: 300;
}

.image {
    border-radius: 50%;
}

.name {
    font-weight: 900;
    font-size: 18px;
}

.italic {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.section-purple {
    background-color: #c271ff;
    height: 300px;
}

.paragraph-carousel {
    font-size: 18px;
    font-weight: 400;
    width: 550px;
}

.popular {
    background-color: white;
}

.paragraph-card {
    width: 240px;
    color: rgba(7, 22, 41, 0.501584);
}


.smiles {
    background-color: #071629;
}

.paragraph-smile {
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER */

.footer {
    background: #071629;
}

.social {
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.social:hover {
    text-decoration: none;
    color: white;
}

.footer p {
    opacity: 15%;
}

/* PRICING */

.header-pricing {
    background-image: url(./images/pic_2.jpg);
    background-repeat: no-repeat;
    background-color: #071629;
    background-size: cover;
    width: 100%;
    height: 1100px;
}

.price {
    font-size: 40px;
    font-weight: 700;
}

.prices {
    font-size: 15px;
    font-weight: 400;
    opacity: 50%;
}

.holberton_school-icon-check {
    font-size: 20px;
    color: green;
    
}

.check-1 {
    margin-left: 260px;
    margin-right: 10px;
}

.check-2 {
    width: 10%;
    margin-left: 120px;
    padding-left: 110px;
}

.check-3 {
    margin-left: 250px;
    margin-right: 10px;
}

.check-4 {
    width: 10%;
    margin-left: 115px;
    padding-left: 110px;
}

.check-5 {
    margin-left: 205px;
    margin-right: 10px;
}

.check-6 {
    width: 10%;
    margin-left: 115px;
    padding-left: 110px;
}

.check-7 {
    width: 10%;
    margin-left: 680px;
    padding-left: 110px;
}

.check-8 {
    width: 10%;
    margin-left: 550px;
    padding-left: 110px;
}

/* FAQ */

h2 {
    font-size: 60px;
}

.fqa-paragraph {
    color: rgba(7, 22, 41, 0.501584);
}

/* COURSES */

.header-courses {
    background-image: url(images/pic_3.jpg);
    
}

.coin {
    font-family: 'Coiny';
    font-size: 32px;
    font-weight: 400;
    width: 480px;
    height: 70px;
}

.purple-smile {
    color: #c271ff;
}

.section-purple-courses {
    background-color: #c271ff;
    
}

.form {
    background-color: rgb(211, 158, 211);
    opacity: 50%;
    width: 100%;
    height: 30px;
}

.drop {
    background-color: rgb(211, 158, 211);
    opacity: 50%;
    border:  rgb(211, 158, 211);
    height: 30px;
}

.text-courses {
    font-size: 13px;
    font-weight: 900;
}